body{
    font-family: 'Roboto', sans-serif; 
}
header{
    /* background-color: #BBBBBB; */
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 140px;
    right: 0px;
}
nav li{
    display: inline;    
   margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color :black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
   width: 25%;
  vertical-align: top ;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: boder-box;
  border:2px solid black;
  border-radius:  20px;
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.producto-descrip{
    font-size: 18px;

}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
nav a:hover{
    color: #c78c19;
    text-decoration:underline;
 }
.productos li:hover{
    border-color:#c78c19;
}
.productos li:active{
    border-color: #0869;
}
.productos li:hover h2{
    font-size: 32px;
}
footer{
   text-align: center;
   background: url('/imagenespro/bg.jpg');
   padding: 40px;
}
.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
    }
 /*main{
    padding: 20px;
    width: 940px;
    margin: 0 auto;
 }*/

 form{
    margin:40px 0;
 }   
 form label,form,legend{
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
     }
 .input-padron{
    display:block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border-radius: 10px 10px 10px 10px;
 }  
 .checkbox{
    margin: 20px 0;
 }  
 .parrafo-gus{
    color:#c78c19
 }
 .enviar{
    width: 40%;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border:none;
    border-radius: 10px;
    transition: 4s all;
    cursor: pointer;
}
.enviar:hover{
    background: rgb(72, 47, 180);
    transform: scale(1.5) ;


}
table{
    margin:  40px 40px;
    border-radius: 10px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*Css  para nuestra pagina inicial index home */
.header{
    width: 100%;

    animation: animateBg 20s linear infinite;
    background-image: radial-gradient(#cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
    background-size: 100% 1100%;
 
    width: 100vw;
  }
  @keyframes animateBg {
    0% { background-position: 0% 0%; }
    100% { background-position: 0% 100%; }
  }
  .banner{
    width: 100%;

  }
.principal{
    width: 940px;
    margin: 0 auto;
    padding: 3em 0;
    background: #fefefe;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin:0 0 1em;
    clear: left;
}
.titulo-principal:first-letter{
    font-weight: bold;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.pricinpal em{
    font-style: italic;
}
.utencilios{
    width: calc( (100% / 3) - 10px );
    border-radius: 50%;
    float: left;
    margin: 0 20px 0 20px;
    transition:400ms;
    box-shadow:10px 10px 30px 15px #d39191;
    
}
.utencilios:hover{
    opacity: 0.3;
}
.mapa{
    padding: 3em 0;
    background: linear-gradient(#fefefefe,#888888) ;
   
}
.mapa p{
   text-align: center;
    margin: 0 0 2em;
    text-align: center;
}
.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}
.mapaf{
    width: 100%;
  align-items: center;
    padding: 3em 0;
    border-radius: 10%;
 

}

.diferenciales{

   padding: 3em 0;
   background:#888888 ;

}
.contenido-difenciales{
   width:640px ;
    margin:0 auto;
}

.lista-diferenciales{
    margin: 0 0 150px 100px ;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
.items{
 
    line-height: 1.5;
}
.items:before{
    content:"★"
}

.items:nth-child(1){
    font-weight: bold;
}
.imegemDiferencial{
    width: 60%;
    border-radius: 20px;
    transition:400ms;
    box-shadow:10px 10px 30px 25px #d39191;


}
.imegemDiferencial:hover{
    opacity: 0.3;
}

.video{
    width: 560px;
    margin: 1em auto;
}
@media only screen and (min-width:320px) and (max-width:480px){
    h2{
        text-align: center;

    }
    nav{
        position: static;
    }
    .caja, .principal,.mapa-contenido, .contenido-diferenciales,.video{
        width: auto;

    }
    .lista-diferenciales, .imegemDiferencial{
        width: 100%;
    }
    .utencilios{
        width: 150px;
        height: 150px;
    }
    .productos{
        width: auto;

    }
    .productos li{
        display: block;
        text-align: center;
       width: 80%;
      margin-bottom: 10px;

      padding: 25px 15px;
      box-sizing: boder-box;
      border:2px solid black;
      border-radius:  20px;
    }
    .productos h2{
        font-size: 20px;
        font-weight: bold;
    }
    .productos h2{
        font-size: 20px;
        font-weight: bold;
    }
    .producto-descrip{
        font-size: 18px;
    
    }
    .producto-precio{
        font-size: 10px;
        font-weight: bold;
        margin-top: 5px;
    }
    nav a:hover{
        color: #c78c19;
        text-decoration:underline;
     }
    .productos li:hover{
        border-color:#c78c19;
    }
    .productos li:active{
        border-color: #0869;
    }
    .productos li:hover h2{
        font-size: 20px;
    }
    .float-area{  
        position:absolute; 
        flex-direction:column;
        align-items: center;    
        justify-content:space-around;
            }
      
      .float-area{  
        float: left; 
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
      }
      
      .floating-img{
        height: 20vh;
        transform: translateY(-40%);
        animation: floater 2.5s infinite;
        transition: ease 2.5s;
        width: 150px;
        height:150px;
      }     
      @keyframes floater {
        0%{transform: translateY(-40%);transition: ease  3.5s;}
        50%{transform: translateY(40%);transition: ease 3.5s;}
      }

      .animation{
        margin-left: 200px;
        display: block;
      
        align-content: space-around;
      
      }
}
/*logo*/
.float-area{   
    height: 40vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .floating-img{
    transform: translateY(-40%);
    animation: floater 2.5s infinite;
    transition: ease 2.5s;
    width: 150px;
    height:150px;
  }     
  @keyframes floater {
    0%{transform: translateY(-40%);transition: ease  3.5s;}
    50%{transform: translateY(40%);transition: ease 3.5s;}
  }
  .animation{
    display:inline-flex
  }
