body{
    font-family: 'Roboto', sans-serif; 
}
header{
    /* background-color: #BBBBBB; */
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 140px;
    right: 0px;
}
nav li{
    display: inline;    
   margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color :black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
   width: 25%;
  vertical-align: top ;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: boder-box;
  border:2px solid black;
  border-radius:  20px;
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.producto-descrip{
    font-size: 18px;

}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
nav a:hover{
    color: #c78c19;
    text-decoration:underline;
 }
.productos li:hover{
    border-color:#c78c19;
}
.productos li:active{
    border-color: #0869;
}
.productos li:hover h2{
    font-size: 32px;
}
footer{
   text-align: center;
   background: url('/imagenespro/bg.jpg');
   padding: 40px;
}
.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
    }
    .Developer{
color:white
    }
 /*main{
    padding: 20px;
    width: 940px;
    margin: 0 auto;
 }*/

 form{
    margin:40px 0;
 }   
 form label,form,legend{
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
     }
 .input-padron{
    display:block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border-radius: 10px 10px 10px 10px;
 }  
 .checkbox{
    margin: 20px 0;
 }  
 .parrafo-gus{
    color:#c78c19
 }
 .enviar{
    width: 40%;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border:none;
    border-radius: 10px;
    transition: 4s all;
    cursor: pointer;
}
.enviar:hover{
    background: rgb(72, 47, 180);
    transform: scale(1.5) ;


}
table{
    margin:  40px 40px;
    border-radius: 10px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*Css  para nuestra pagina inicial index home */
.header{
    width: 100%;

    animation: animateBg 70s linear infinite;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1784%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1785)'%3e%3c/rect%3e%3cpath d='M 0%2c158 C 96%2c132.6 288%2c32.8 480%2c31 C 672%2c29.2 768%2c153.8 960%2c149 C 1152%2c144.2 1344%2c35.4 1440%2c7L1440 560L0 560z' fill='rgba(226%2c 227%2c 236%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c277 C 41.2%2c296.2 123.6%2c388.2 206%2c373 C 288.4%2c357.8 329.6%2c202.2 412%2c201 C 494.4%2c199.8 535.6%2c365.6 618%2c367 C 700.4%2c368.4 741.6%2c212.2 824%2c208 C 906.4%2c203.8 947.6%2c335.6 1030%2c346 C 1112.4%2c356.4 1154%2c254.8 1236%2c260 C 1318%2c265.2 1399.2%2c349.6 1440%2c372L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c446 C 288%2c459.6 1152%2c500.4 1440%2c514L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1784'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1785'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(195%2c 199%2c 205%2c 1)' offset='0.66'%3e%3c/stop%3e%3cstop stop-color='rgba(195%2c 199%2c 205%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: 100% 1100%;
 
    width: 100vw;
  }
  @keyframes animateBg {
    0% { background-position: 0% 0%; }
    100% { background-position: 0% 100%; }
  }
  .banner{
    width: 100%;

  }
.principal{
    width: 940px;
    margin: 0 auto;
    padding: 3em 0;
    background: #fefefe;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin:0 0 1em;
    clear: left;
}
.titulo-principal:first-letter{
    font-weight: bold;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.pricinpal em{
    font-style: italic;
}
.utencilios{
    width: calc( (100% / 3) - 10px );
    border-radius: 50%;
    float: left;
    margin: 0 20px 0 20px;
    transition:400ms;
    box-shadow:10px 10px 30px 15px #888888;
    
}
.utencilios:hover{
    opacity: 0.3;
}
.mapa{
    padding: 3em 0;
    background: linear-gradient(#100e0e1b,#888888) ;
   
}
.mapa p{
   text-align: center;
    margin: 0 0 2em;
    text-align: center;
}
.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}
.mapaf{
    width: 100%;
  align-items: center;
    padding: 3em 0;
    border-radius: 10%;
 

}

.diferenciales{

   padding: 3em 0;
   background:#888888 ;

}
.contenido-difenciales{
   width:640px ;
    margin:0 auto;
}

.lista-diferenciales{
    margin: 0 0 150px 100px ;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
.items{
 
    line-height: 1.5;
}
.items:before{
    content:"★"
}

.items:nth-child(1){
    font-weight: bold;
}
.imegemDiferencial{
    width: 60%;
    border-radius: 20px;
    transition:400ms;
    box-shadow:10px 10px 30px 25px #554e4e;


}
.imegemDiferencial:hover{
    opacity: 0.3;
}

.video{
    width: 560px;
    margin: 1em auto;
}
@media only screen and (min-width:320px) and (max-width:480px){
    .header{
        width: 100%;
    
        animation: animateBg 70s linear infinite;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1784%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1785)'%3e%3c/rect%3e%3cpath d='M 0%2c158 C 96%2c132.6 288%2c32.8 480%2c31 C 672%2c29.2 768%2c153.8 960%2c149 C 1152%2c144.2 1344%2c35.4 1440%2c7L1440 560L0 560z' fill='rgba(226%2c 227%2c 236%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c277 C 41.2%2c296.2 123.6%2c388.2 206%2c373 C 288.4%2c357.8 329.6%2c202.2 412%2c201 C 494.4%2c199.8 535.6%2c365.6 618%2c367 C 700.4%2c368.4 741.6%2c212.2 824%2c208 C 906.4%2c203.8 947.6%2c335.6 1030%2c346 C 1112.4%2c356.4 1154%2c254.8 1236%2c260 C 1318%2c265.2 1399.2%2c349.6 1440%2c372L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c446 C 288%2c459.6 1152%2c500.4 1440%2c514L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1784'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1785'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(195%2c 199%2c 205%2c 1)' offset='0.66'%3e%3c/stop%3e%3cstop stop-color='rgba(195%2c 199%2c 205%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
        background-size: 100% 1100%;
     
        width: 100vw;
      }
      @keyframes animateBg {
        0% { background-position: 0% 0%; }
        100% { background-position: 0% 100%; }
      }
    h2{
        text-align: center;

    }
    nav{
        position: static;
    }
    .caja, .principal,.mapa-contenido, .contenido-diferenciales,.video{
        width: auto;

    }
    p{
      text-align: justify;
 
   
    }
  .imegemDiferencial{
  display: block;
        width: 95%;
   margin: auto 0;
       margin: 0 auto;
          }
    .utencilios{
        width: 150px;
        height: 150px;
    }
    .mapa-contenido{
     width: 300px;
     margin-bottom: 2px;
    }
    .video{
      width: 300px;
      border-radius: 20px;
      transition:400ms;
      box-shadow:10px 10px 30px 25px #554e4e;
    }
    .productos{
        width: auto;

    }
    .productos li{
        display: block;
        text-align: center;
       width: 80%;
      margin-bottom: 10px;

      padding: 25px 15px;
      box-sizing: boder-box;
      border:2px solid black;
      border-radius:  20px;
    }
    .productos h2{
        font-size: 20px;
        font-weight: bold;
    }
    .productos h2{
        font-size: 20px;
        font-weight: bold;
    }
    .producto-descrip{
        font-size: 18px;
    
    }
    .producto-precio{
        font-size: 10px;
        font-weight: bold;
        margin-top: 5px;
    }
    nav a:hover{
        color: #c78c19;
        text-decoration:underline;
     }
    .productos li:hover{
        border-color:#c78c19;
    }
    .productos li:active{
        border-color: #0869;
    }
    .productos li:hover h2{
        font-size: 20px;
    }
    .float-area{  
        position:absolute; 
        flex-direction:column;
        align-items: center;    
        justify-content:space-around;
            }
      
      .float-area{  
        float: left; 
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
      }
      
      .floating-img{
        height: 20vh;
        transform: translateY(-40%);
        animation: floater 2.5s infinite;
        transition: ease 2.5s;
        width: 150px;
        height:150px;
      }     
      @keyframes floater {
        0%{transform: translateY(-40%);transition: ease  3.5s;}
        50%{transform: translateY(40%);transition: ease 3.5s;}
      }

      .animation{
        margin-left: 200px;
        display: block;
      
        align-content: space-around;
      
      }
      .Developer{
    
     align-items: center;
   
      }
      .svg-cover {
        display: flex;
        margin-top: -40px;
       justify-content:right;
        margin-left: 60px;
       
   
   
      }
      
      .svg-area {
        height: 220px;
      }
}
/*logo*/
.float-area{   
    height: 40vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .floating-img{
    transform: translateY(-40%);
    animation: floater 2.5s infinite;
    transition: ease 2.5s;
    width: 150px;
    height:150px;
  }     
  @keyframes floater {
    0%{transform: translateY(-40%);transition: ease  3.5s;}
    50%{transform: translateY(40%);transition: ease 3.5s;}
  }
  .animation{
    display:inline-flex
  }
/*sign*/

  
  .svg-cover {
    display: flex;
    margin-top: -50px;
   justify-content:right;
    margin-left: 10px;
    width: 100%;
  
    overflow: hidden;
  }
  
  .svg-area {
    height: 135px;
  }
  
  .svg-path {
    /* fill: none;
              stroke: #000000;
              stroke-linecap: butt;
              stroke-linejoin: miter;
              stroke-opacity: 1; */
  
    -webkit-animation-name: line;
    animation-name: line;
  
    animation-duration: 1s;
  
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
  }
  .one {
    stroke-dasharray: 50; /*ก*/
    stroke-dashoffset:50;
    animation-delay: 0s;
  }
  .two {
    stroke-dasharray: 34; /*น*/
    stroke-dashoffset: 34;
    animation-delay: 1s;
  }
  .three {
    stroke-dasharray: 22; /*ก*/
    stroke-dashoffset: 22;
    animation-delay: 2s;
  }
  .four {
    stroke-dasharray: 32; /*พ*/
    stroke-dashoffset: 32;
    animation-delay: 3s;
  }
  .five {
    stroke-dasharray: 25; /* ิ*/
    stroke-dashoffset: 25;
    animation-delay: 4s;
  }
  .six {
    stroke-dasharray: 29; /*ช*/
    stroke-dashoffset: 29;
    animation-delay: 5s;
  }
  .seven {
    stroke-dasharray: 22; /*ญ*/
    stroke-dashoffset: 22;
    animation-delay: 6s;
  }
  .eight {
    stroke-dasharray: 22; /**/
    stroke-dashoffset: 22;
    animation-delay: 7s;
  }
  .nine {
    stroke-dasharray: 30; /* ์*/
    stroke-dashoffset: 30;
    animation-delay: 8s;
  }
  .ten {
    stroke-dasharray: 30; /* ์*/
    stroke-dashoffset: 30;
    animation-delay: 9s;
  }
  .eleven{
      stroke-dasharray: 30; /* ์*/
    stroke-dashoffset: 30;
    animation-delay: 10s;
  }
  .twelven{
      stroke-dasharray: 50; /* ์*/
    stroke-dashoffset: 50;
    animation-delay: 11s;
  }
  .thirteen{
      stroke-dasharray: 30; /* ์*/
    stroke-dashoffset: 30;
    animation-delay: 12s;
  }
  .fourteen{
      stroke-dasharray: 30; /* ์*/
    stroke-dashoffset: 30;
    animation-delay: 13s;
  
  }
  .fifteen{
      stroke-dasharray: 30; /* ์*/
    stroke-dashoffset: 30;
    animation-delay: 14s;
  }
  .sexteen{
      stroke-dasharray: 30; /* ์*/
    stroke-dashoffset: 30;
    animation-delay: 15s;
  }
  .seventeen{
      stroke-dasharray: 30; /* ์*/
    stroke-dashoffset: 30;
    animation-delay: 16s;
  }
  .eighteen{
      stroke-dasharray: 30; /* ์*/
    stroke-dashoffset: 30;
    animation-delay: 17s;
  }
  @keyframes line {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes line {
    100% {
      stroke-dashoffset: 0;
    }
  }